In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline
plt.rcParams["font.family"] = "Malgun Gothic"
plt.rcParams["font.size"] = 15
plt.rcParams["figure.figsize"] = (16,9)
plt.rcParams["axes.unicode_minus"] = False
plt.style.use("ggplot")

pd.set_option("display.max_rows", 10)
pd.set_option("display.max_columns", 10)

# 0.Data Load
---

In [3]:
df_lpay = pd.read_csv("../LPOINT_BIG_COMP/LPOINT_BIG_COMP_06_LPAY.csv", low_memory=False)
df_lpay.head()

         cust           rct_no cop_c  chnl_dv     de_dt  de_hr  buy_am
0  M629656521  210803210311226   A03        1  20210803     21   10900
1  M216016456  210803130167542   L01        2  20210803     13    6860
2  M205142844  210803140275112   A02        1  20210803     14    9000
3  M737010483  210803040637594   A06        2  20210803      4   36740
4  M707775545  210803140675502   A06        2  20210803     14  138500

In [4]:
df_lpay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353184 entries, 0 to 353183
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cust     353184 non-null  object
 1   rct_no   353184 non-null  int64
 2   cop_c    353184 non-null  object
 3   chnl_dv  353184 non-null  int64
 4   de_dt    353184 non-null  int64
 5   de_hr    353184 non-null  int64
 6   buy_am   353184 non-null  int64
dtypes: int64(5), object(2)
memory usage: 18.9+ MB

In [5]:
# Number of Unique Values
for col in df_lpay.columns:
    unq_arr = df_lpay[col].unique()
    print(f"{col}: {df_lpay[col].nunique()}\t{['*']+unq_arr[:10].tolist() if df_lpay[col].nunique()>20 else unq_arr}")
    print()
print(f"Total DF Length: {len(df_lpay)}")

cust: 8906	['*', 'M629656521', 'M216016456', 'M205142844', 'M737010483', 'M707775545', 'M848083175', 'M253450307', 'M186539937', 'M347475637', 'M161654425']

rct_no: 353184	['*', 210803210311226, 210803130167542, 210803140275112, 210803040637594, 210803140675502, 210803180197432, 210803160182662, 210803130266856, 210803160182823, 210803190302973]

cop_c: 14	['A03' 'L01' 'A02' 'A06' 'A01' 'C01' 'D02' 'A04' 'L00' 'D01' 'A05' 'C02'
 'E01' 'B01']

chnl_dv: 2	[1 2]

de_dt: 365	['*', 20210803, 20210804, 20210801, 20210902, 20210926, 20210927, 20210928, 20210930, 20210929, 20210721]

de_hr: 24	['*', 21, 13, 14, 4, 18, 16, 19, 11, 17, 12]

buy_am: 37755	['*', 10900, 6860, 9000, 36740, 138500, 14000, 1000, 9600, 19010, 42450]

Total DF Length: 353184

In [6]:
df_lpay.isna().sum()

cust       0
rct_no     0
cop_c      0
chnl_dv    0
de_dt      0
de_hr      0
buy_am     0
dtype: int64